<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<script src = "{{ url_for('static', filename = 'js/file.js') }}"></script>
</head>

<body>
<div id="formWrapper">

<div id="form">
<div class="logo">
Empire of Freedom
</div>
<div class="logo">
Анкета обрабатывается.
Проверь, пожалуйста, личные сообщения в discord. Если ты член сервера Empire Of Freedom, то получишь ответ: 
если все верно заполнено, придет тестовое задание, 
иначе - список ошибок.
</div>

<form>

    <div class="form-item"> 
      
			<p class="formLabel" ><spansmall>Сообщение придет в течение минуты.</spansmall></p>
			<input type="text" name="result" readonly class="form-style" disabled autocomplete="off"/>

    </div>


    
    </div>



</form>
</div>
</div>

</body>

</html>
